div.row.header
    div.col-lg-6.col-sm-12
      a.icon(href='/'): img(src='/images/fedex.jpg', height='60px')
    div.col-lg-2.col-sm-12
      a(href='/input') Upload your Id
    div.col-lg-2.col-sm-12
      a(href='/home') All your files
    div.col-lg-2.col-sm-12
      a(href='/metadata') Latest cases