//- div.col-lg-12.progress-bar
//-   h5 The path
//- div.col-lg-4.chevrons
//-   | Getting content #[i(class='fas fa-chevron-right')] 
//- div.col-lg-4.chevrons    
//-   | Extracting information #[i(class='fas fa-chevron-right')] 
//- div.col-lg-4.chevrons
//-   | Making decisions #[i(class='fas fa-chevron-right')] 