extends layout

block content
  div.row.main
    div.col-lg-6.col-sm-12
      h1= title
      h2= subtitle
      p Our ability to help power the mission is tied to the knowledge base, experience and passion of dedicated employees. We foster an environment of continuous growth and professional development. Meet three exceptional individuals who have embraced the career opportunities within Parallon.
      p Parallon is proud to have been named a "Top 100 Company to Watch for Remote Jobs in 2016" by FlexJobs, a trusted resource for job seekers.
    div.col-lg-6.col-sm-12
      p
      iframe(width='100%', height='550', frameborder='0', src='https://prshome.app.box.com/embed/s/r2uf57bzk3lmpwkam0hu2nsg40s98xjd', allowfullscreen, webkitallowfullscreen, msallowfullscreen)



