extends layout

block content
  div.row.main
    div.col-lg-12.col-sm-12
      h1= title
      h2= subtitle
      p Our ability to help power the mission is tied to the knowledge base, experience and passion of dedicated employees. We foster an environment of continuous growth and professional development. 
      script(src="https://box-353329.workflowcloud.com/embedform/iframe/ntx-embed-iframe.js" data-id="ntxFormContainer-4f6abdb1-ac9f-496a-9a73-9b4e110bc08e")
      iframe(id="ntxFormContainer-4f6abdb1-ac9f-496a-9a73-9b4e110bc08e" scrolling="no" style="width:100%; border:none;" height="100%" src="https://box-353329.workflowcloud.com/embedform/iframe?id=4f6abdb1-ac9f-496a-9a73-9b4e110bc08e")

