extends layout

block content
  div.row.main
    div.col-lg-5.col-sm-12
      h1= title
      h2= subtitle
      p Content can be securely uploaded directly into your process.
      p You can remove the friction of
      a(href='/metadata', class='bds-homepage-button-primary') 2. Intelligent capture in action 

    div.col-lg-7.col-sm-12
      div.content-uploader
      script(src='https://cdn01.boxcdn.net/platform/elements/10.1.0/en-US/uploader.js')
      script(src='/js/content-uploader.js', client=secret, folder=upload)
