extends layout

block content
  div.row.main
    div.col-lg-6.col-sm-12
      h1= title
      h2= subtitle
      p Losing or breaking your smartphone is extremely frustrating.  1 in 4 people will have their phone lost, stolen or damaged this year*. Therefore, mobile device protection is important in case your phone were to meet one of these unfortunate fates. Filing a claim for a replacement device with Asurion is quick and easy, getting you reconnected fast.
    div.col-lg-6.col-sm-12
      p
      iframe(width='100%', height='550', frameborder='0', src='https://prshome.app.box.com/embed/s/pd432dcln51khsmjkuxsxx6yhiwk40az', allowfullscreen, webkitallowfullscreen, msallowfullscreen)


